@page "/event/{id}"
@using Front.Services
@using Front.Models.bModels
@inject IEventService EventService
@inject NavigationManager NavigationManager

<h3>Event - @_event.Name</h3>

@code {
    [Parameter]
    public string? Id { get; set; }

    Event? _event = null!;
    
    protected override async Task OnInitializedAsync()
    {
        if (Id is not null)
        {
            var result = await EventService.GetEventById(Id);
            if (result is not null)
            {
                _event = result;
            }
            else
            {
                NavigationManager.NavigateTo("/events");
            }
        }
    }
}